name: "build-test"
on: # rebuild any PRs and main branch changes
  # pull_request:
  push:
    branches:
      - master
      # - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: |
        yarn install
        yarn build
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: ./
      with: 
        name: ENVNAME
      env:
        MASTER_ENVNAME: 'hello'